themes {
    catppuccin_m0rsla {
        fg "#cdd6f4"         // text
        bg "#1e1e2e"         // base
        black "#11111b"      // crust
        red "#f38ba8"        // red
        green "#a6e3a1"      // green
        yellow "#f9e2af"     // yellow
        blue "#89b4fa"       // blue
        magenta "#cba6f7"    // mauve
        cyan "#94e2d5"       // teal
        white "#bac2de"      // subtext1
        orange "#fab387"     // peach
        ribbon_unselected {
            base "#a6adc8"
            background "#313244"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        ribbon_selected {
            base "#181825"
            background "#bac2de"
            emphasis_0 "#bb5471"
            emphasis_1 "#967a3c"
            emphasis_2 "#658dcd"
            emphasis_3 "#8d67bc"
        }
        text_unselected {
            base "#a6adc8"
            background "#1e1e2e"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        text_selected {
            base "#cdd6f4"
            background "#45475a"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        table_title {
            base "#cdd6f4"
            background "#313244"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        table_cell_unselected {
            base "#a6adc8"
            background "#1e1e2e"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        table_cell_selected {
            base "#cdd6f4"
            background "#45475a"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        list_unselected {
            base "#a6adc8"
            background "#1e1e2e"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        list_selected {
            base "#cdd6f4"
            background "#45475a"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        frame_unselected {
            base "#7f849c"
            background "#1e1e2e"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        frame_selected {
            base "#cdd6f4"
            background "#1e1e2e"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        frame_highlight {
            base "#cba6f7"
            background "#1e1e2e"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        exit_code_success {
            base "#a6e3a1"
            background "#1e1e2e"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
        exit_code_error {
            base "#f38ba8"
            background "#1e1e2e"
            emphasis_0 "#f38ba8"
            emphasis_1 "#f9e2af"
            emphasis_2 "#89b4fa"
            emphasis_3 "#cba6f7"
        }
    }
}

theme "catppuccin_m0rsla"